{% extends 'base.html.twig' %}

{% block titre %}Liste des articles du blog{% endblock %}

{% block body %}
                                <div class="blog-list style-3">
									{% for article in articles %}
                                       <div class="blog-item mb-6">
										<div class="blog-inner">
											<div class="col-md-5">
												<a href="{{ absolute_url(path('frontend_blog_show', {'slug': article.slug}))}}" class="featured-image">
													<div class="overlay"><i class="fa fa-link"></i></div>
													<img src="{{ asset('uploads/posts/'~ article.imageName) | imagine_filter('actualite_list') }}" alt="{{ article.titre }}" />
												</a>
											</div>
											<div class="col-md-7">
												<div class="info">
													<div class="title">
														<a href="{{ absolute_url(path('frontend_actualite_show', {'slug': article.slug}))}}">{{ article.titre }}</a>
													</div>
                                                    <div class="tags">
														<a href="#">{{ article.rubrique }}</a>
													</div>
													<div class="text text-justify">
														<p>{{ article.resume|raw }}</p>
														<a href="{{ absolute_url(path('frontend_actualite_show', {'slug': article.slug}))}}" class="button small">Lire la suite</a>
													</div>
												</div>
											</div>
										</div>
									</div> 
                                    {% else %}
                                       Redaction en cours... 
                                    {% endfor %}
								</div>
								<!--<div class="pagination">
									<ul class="page-numbers">
										<li><a class="prev page-numbers" href="#"><i class="mdi-chevron-double-left"></i></a></li>
										<li><a class="page-numbers" href="#">1</a></li>
										<li><span class="page-numbers current">2</span></li>
										<li><a class="page-numbers" href="#">3</a></li>
										<li><a class="next page-numbers" href="#"><i class="mdi-chevron-double-right"></i></a></li>
									</ul>
								</div>-->
{% endblock %}